@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

code {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


.navbar {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 1.9rem !important;
    /* color:blueviolet; */
}
.brand-name {
    font-size: 2.5rem !important;
    color:blueviolet;
}


.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}


.menu_active {
    font-weight: bold;
    border-bottom:  1px solid #565387;
}


.navbar a:hover {
    color: rgb(28, 24, 243) !important;
}


/* 
@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.9rem !important;
        margin-bottom: 10px;
        /* height: 10px; */
    /* }

    .menu_active {
        font-weight: bold;
        border-bottom: none;
      
    } */
/* } */ 
/* 
.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  } */

  .container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
  }



.cards {
    width: 100%;
    height: auto;
    
}  
  
.card {
    /* margin: 6%;
    /* transition: all cubic-bezier(0.165, 0.84, 0.44, 1) ;
    background-color: rgb(235, 229, 229);  
    width: 24.25%;
    border-radius: 12px;
    box-shadow:black;

    width: 470px; 
    height: 560px ;
    display: inline-flex;
    float: left;
    text-align: center;
    padding-top: 35px;
    margin: 5px;  */

    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 360px;
    height: 100%;
}

.card_img {
    /* width: 100px;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px; */

    width: 100%;
    height: 240px;
    /* object-fit:fill; */

}



.card-body{
    /* background-color: rgba(247, 243, 243, 0.192);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    min-height: 100px;

} 


.card-title {
    /* font-family: 'Times New Roman', Times, serif; */
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #2fb3f0;
    background-color: #fff;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 10px ;

}





/* @media (max-width: 991px) {

    #header {
        height: 80vh;  
        text-align: center;  
            
        
    }

    #header .header-img {
        text-align: center;
        
    }

    #header .header-img img {
        width: 60%;
        
        
    }

    /* footer p {
        padding: 0;
        margin: 0;
    } */


   
/* } */ 

/* @media (max-width: 768px){
    #header {
        margin-top: 20px;
        
    }

    #header h1 {
        font-size: 28px;
    }

    #header h2 {
        font-size: 18px;
        margin-bottom: 30px;
    }

    #header .header-img img {
        width:70%;
    }
    

} */


#header {
    width: 100%;
    height: 30vh;
    /* height: 80vh; */
    margin-top: 70px ;
    /* margin-top: 6%; */
    margin-bottom: 19%;
} 

#header h1 {
    margin: 0 0 10px 0;
    font-size: 42px;
    font-weight: 700;
    color: black;
}

/* #header .brand-name {
    color: blue;
} */



/* use this will classname without bootstrap code */
/* #header h2 {
    font-size: 25px;
    color: gray;
} */



/* #header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: rgb(32, 29, 209);   // this is code for font
    border:  2px solid #2fb3f0;
    text-decoration: none;
} */


.header-img {
    padding-top: 20%;
    /* height: 0px; */
}

.contact_div {
    width: 100%;
    height: 69vh;
}

.row {
    display: flex;
    flex: 1 0 100%
    /* flex-wrap: wrap; */

}


footer p {
    padding: 0;
    margin: 0;
}



/* .modal-dialog {
    width: 360px;
  }


  .modal-header {
    background-color: #337AB7;
    padding:16px 16px;
    color:#FFF;
    border-bottom:2px dashed #337AB7;
 } */